name: Deploy docs

on:
  push:
    branches: [master]
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - "mlenergy_data/**"

permissions:
  contents: write

env:
  SITE_ANALYTICS: google

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv sync --group docs
      - run: uv run mkdocs gh-deploy --force --strict
        env:
          BUILD_SOCIAL_CARD: true
